.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	/*font-size: 0px;*/
	cursor: pointer;
	margin: 15px 30px;
	width: 167px;
	height: 167px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fcc800;
}

.hi-icon-txt {
    position: relative;
    left: -110px;
    width: 380px;
    margin-top: 60px;
    color: #fff;
}


/*.hi-icon-effect-1 .hi-icon a, h1, p:hover {
    
    color: #fcc800 !important;
    text-decoration: none !important;
}*/

/*.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
    color: #fcc800 !important;
    text-decoration: none !important;

}

.hi-icon:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}*/

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
    position: relative;
	/*background: rgba(255,255,255,0.1);*/
/*
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
*/
}

/*
.hi-icon-effect-1-2 .hi-icon {
    position: relative;

	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
*/

.hi-icon-effect-1 .hi-icon:before {    
    transform: scale(1.25);
    opacity: 0;
    
    transition: transform 0.1s ease,
                opacity 0.2s linear;
}

.hi-icon-effect-1 .hi-icon:hover:before {    
    transform: scale(1.25);
    opacity: 1;
    
}

.hi-icon-effect-1 .hi-icon:after {
    transform: scale(1.6);
    opacity: 0;
    
    transition: transform 0.1s ease,
                opacity .5s linear;
}

.hi-icon-effect-1 .hi-icon:hover:after {
    transform: scale(1.6);
    opacity: .3;
}

.hi-icon-effect-1 .hi-icon:hover h1, 
.hi-icon-effect-1 .hi-icon:hover p {
    color: #fcc800;
}

.hi-icon-effect-1 .hi-icon {
    text-decoration: none;
}

/*

scss syntax 

.hi {
    .hi-icon {
        &:before,
        &:after {
            
        }

        &:before {
            
        }
        
        &:after {
            
        }
    }
}
*/

.hi-icon-effect-1 .hi-icon:before,
.hi-icon-effect-1 .hi-icon:after{
    content: " ";
    position: absolute;
    display: block;
    
    top: 0;
    left: 0;
    
    width: 167px;
    height: 167px;
    
    border: 1px solid #FCC800;
    border-radius: 50%;       
/*
	top: -25px;
	left: -25px;
	padding: 25px;
	box-shadow: 0 0 0 2px #fcc800;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
*/
}

.hi-icon-effect-1 .hi-icon:after {
/*
	top: -44px;
	left: -44px;
	padding: 44px;
	box-shadow: 0 0 0 2px #fcc800;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(1.0);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(1.0);
	opacity: 0;
    
*/
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon .hi-icon-txt:hover {
	/*background: rgba(255,255,255,1);*/    
}

.hi-icon-effect-1a .hi-icon:hover:before,
.hi-icon-effect-1a .hi-icon:hover:after{
/*
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
*/
}
